* {
    font-family: 'Bebas Neue', cursive;
}

body {
    align-content: center;
    width: 1280px;
    max-width: 1920px;
}
h1 {
    letter-spacing: 4px;
}

#header-text {
    background-color: #F7A7BF;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    border: 0px;
}

/*CSS for Hero Image*/
.hero-container{
    margin: 0px;
    background-image: url(/static/images/hero-image.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-text {
    padding-top: 5px;
    color: white;
    font-size: 20px;
}  
#hero-list > li {
    list-style: none;
    margin: 0 10px;
    display: block;
}
#hero-list {
    display: flex;
    justify-content: right;
  }

#hero-button {
    background-color: #51a7ad;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    border-radius: 12px;
}

/*CSS for Tag Line*/
.tag-line-container {
    background-color: white;    
}

#tag-line-text {
    padding-top: 5px;
    color: #51a7ad;
    font-size: 24px;
    text-align: center;
}

#tag-line-text-left {
    padding-top: 20px;
    padding-left: 100px;
    line-height: 80%;
    color: #51a7ad;
    font-size: 24px;
    text-align: left;
}

#tag-line-paragraph {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

#tag-line-paragraph-left {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

/*CSS for Grid Gallery on home page*/
.grid-container-3-col {
    display: grid;
    gap: 0px;
    grid-template-columns: auto auto auto;
}

#grid-image {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    height: 427px;
    width: 427px;
}

.grid-item-center {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    height: 427px;
    width: 427px;
    background-color: #F1EDE3;
}
/*CSS for Grid Review*/
.grid-container-4-col {
    display: grid;
    gap: 0px;
    grid-template-columns: auto auto auto auto;
}
.grid-item-review-image {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    height: 250px;
    width: 427px;
}

.grid-item-left-arrow {
    padding: 0;
    padding-top: 50px;
    margin: 0;
    height: 250px;
    width: 100px;
    color: #51a7ad;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
}

.grid-item-review-text {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    height: 250px;
    width: 653px;
    vertical-align: middle;
}

.grid-item-right-arrow {
    padding: 0;
    padding-top: 50px;
    margin: 0;
    height: 250px;
    width: 100px;
    color: #51a7ad;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
}

#arrow-image {
    height: 50px;
    width: 50px;
}

/*CSS for Footer*/
.footer-container {
    margin: auto;
    width: 100%;
    text-align: center;
}

#footer-text{
    background-color: #F7A7BF;
    color: white;
    font-size: 20px;
    border: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
}


 #footer-list {
    padding: 0;
}
  
#footer-list > li {
    list-style: none;
    margin: 0 10px;
    display: block;
}
  
#footer-list {
    display: flex;
    justify-content: space-between;
    align-items: right;
  }


#instagram-icon {
    height: 50px;
    width: 50 px;
}
