<!DOCTYPE html>
<html>
    <head>
        <title>The Cookie Queen</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <header>
            <p id="header-text">SAME DAY DELIVERY & FREE SHIPPING FOR ORDERS OVER $100</p>
        </header>
        {% block main %}
        {% endblock %}
        <footer class="footer-container">
            <div id="footer-text">
                <ul id="footer-list">
                    <li>THE COOKIE QUEEN</li>
                    <li><p>Copyright 2022</p></li>
                    <li><a href="https://www.instagram.com/thecookiequeen__/"><img id="instagram-icon" src="/static/images/Instagram_Glyph_White.png" alt="Instagram Link"/></a></li>
                </ul>
            </div> 
        </footer>
    </body>
</html>