{% extends "base.html" %}

{% block main %}
    <section class="hero-container">
        <div id="hero-text">
            <nav id="hero-nav">
                <ul id="hero-list">
                    <li style="align-self: center">Reviews</li>
                    <li style="align-self: center">Contact Us</li>
                    <li style="align-self: center">Our Story</li>
                    <li>
                        <form action="/cookies">
                            <button id="hero-button" action="/cookies">Shop Now</button>
                        </form>    
                    </li>
                </ul>
            </nav> 
        </div>
    </section>
    <section class="tag-line-container">
        <div id="tag-line-text">
            <h1>HAND MADE AND PERSONALISED COOKIES</h1>
            <p id="tag-line-paragraph">Our delicious soft & buttery hand-iced treats are freshly baked to order, and make the perfect party, wedding favour or corporate gift.</p>
        </div>
    </section>
    <section class="grid-cookie-gallery-container">
        <div class="grid-container-3-col">
            <div><img id="grid-image" src="/static/images/grid-image-1.jpg" alt="Picture of Immy's beautiful cookies"></div>
            <div class="grid-item-center">
                <div id="tag-line-text">
                    <h1 id="tag-line-text">OUR COOKIES</h1>
                    <h1 id="tag-line-text">YOUR WAY</h1>
                    <p id="tag-line-paragraph">Browse through our gallery of custom- made cookies or send us a message to order custom cookies online for any occasion.</p>
                    <form action="/cookies">
                        <button id="hero-button">Cookie Gallery</button>
                    </form>    
                </div>
            </div>
            <div><img id="grid-image" src="/static/images/grid-image-2.jpg" alt="Picture of Immy's beautiful cookies"></div>
        </div>
    </section>
    <section class="grid-review-container">
        <div class="grid-container-4-col">
            <div class="grid-item-review-image">
                <div id="tag-line-text-left">
                    <h1>HEAR</h1>
                    <h1>FROM MY</h1>
                    <h1>CUSTOMERS</h1>
                </div>
            </div>
            <div class="grid-item-left-arrow"><img id="arrow-image" src="/static/images/arrow-left.jpg" alt="Click here to move backwards through reviews"></div>
            <div class="grid-item-review-text">
                <p id="tag-line-text">{{ reviews[0]['tag_line'] }}</p>
                <p id="tag-line-paragraph-left">{{ reviews[0]['detailed_review'] }}</p>
            </div>
            <div class="grid-item-right-arrow"><img id="arrow-image" src="/static/images/arrow-right.jpg" alt="Click here to move forward through reviews"></div>
        </div>

    </section>

{% endblock %}