{% extends "base.html" %}

{% block main %}
    <section class="hero-container">
        <div id="hero-text">
            <nav id="hero-nav">
                <ul id="hero-list">
                    <li style="align-self: center">Reviews</li>
                    <li style="align-self: center">Contact Us</li>
                    <li style="align-self: center">Our Story</li>
                    <li><button id="hero-button">Shop Now</button></li>
                </ul>
            </nav> 
        </div>
    </section>
    <section class="tag-line-container">
        <div id="tag-line-text">
            <h1 id="tag-line-heading">HAND MADE AND PERSONALISED COOKIES</h1>
            <p id="tag-line-paragraph">Our delicious soft & buttery hand-iced treats are freshly baked to order, and make the perfect party, wedding favour or corporate gift.</p>
        </div>
    </section>
{% endblock %}